.content {
    text-align: center;
    justify-content: center;
}

.price-lbl{
    padding-top: 30px;
}

.img{
    height: 400px;
}

.cardItem{
    width: 80%;
}

.cardItem a{
    text-decoration: none;
    color: #000;
}