.main-footer{
    width: 100%;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.479);
    box-sizing: border-box;
    background-color: #000000d0;
  }
  
  .main-footer p{
      color: rgb(255, 255, 255);
      text-align: center;
      padding-top: 20px;
  }

  .icon-btn-style {
      color: white;
  }

  .stack-style{
      display: flex;
      width: 100%;
      justify-content:center;
  }