.main-header{
  width: 100%;
  display: flex;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.479);
  box-sizing: border-box;
  align-items: center;
  justify-content:center;
  background-color: #000000d0;
}

.navbar{
  list-style: none;
  display: flex;
}

.navbar-logo{
  width: 30px;

}

.navbar li{
  margin-right: 40px;
}

.navbar li Button{
  color: white;
  font-family: Tahoma;
  font-size: 12px;
}

.navbar li Button a{
  text-decoration: none;
  color: white;
  font-family: Tahoma;
}