.back {
    width: 100%;
    display:flex;
    padding: 0px 25px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: rgb(23, 36, 63);
    position:absolute;
    bottom:0px;
    top:68px
}